.img_couvAlbum {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

/* Album n° 1 */
#album1 {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 10%;
  left: 12%;
  width: 35%;
}
#album1 figure img {
  -webkit-filter: blur(3px);
filter: blur(3px);
-webkit-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}
#album1 figure:hover img {
  -webkit-filter: blur(0);
filter: blur(0);
}

/* Album n°2 */
#album2 {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  left: 54%;
  top: 10%;
  width: 35%;
}
#album2 figure img {
  -webkit-filter: blur(3px);
filter: blur(3px);
-webkit-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}
#album2 figure:hover img {
  -webkit-filter: blur(0);
filter: blur(0);
}

/* Album n°3 */
#album3 {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 55%;
  left: 12%;
  width: 35%;
}
#album3 figure img {
  -webkit-filter: blur(3px);
filter: blur(3px);
-webkit-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}
#album3 figure:hover img {
  -webkit-filter: blur(0);
filter: blur(0);
}

/* Album n° 4 */
#album4 {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 55%;
  left: 54%;
  width: 35%;
}
#album4 figure img {
  -webkit-filter: blur(3px);
filter: blur(3px);
-webkit-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}
#album4 figure:hover img {
  -webkit-filter: blur(0);
filter: blur(0);
}

/***** RIGHT INFO PICTURES *****/

/* Informations albums */
.infoPicture_title {
  color: #222529;
  font-weight: bold;
  text-align: center;
}
.infoPicture_place {
  color: #222529;
  text-align: center;
  margin-bottom: 0;
}
.infoPicture_date {
  color: #222529;
  text-align: center;
  margin-bottom: 0;
  font-size: 0.8em;
}

/* Bouton d'animation */
.btn_album_pictures{
  display: none;
  position: absolute;
  top: 310px;
  left: 60px;
  width: 270px;
  color: #00031c;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  transition: color 0.1s ease-in-out;
  height: 50px;
}
.btn_album_pictures p {
  padding-top: 15px;
}
.btn_album_pictures .btn_album_pictures_bg {
  padding-top: 15px;
  position: absolute;
  background: #00031c;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: width 0.2s ease-in-out;
}
.btn_album_pictures:hover {
  color: #f2f2ff;
}
.btn_album_pictures:hover .btn_album_pictures_bg {
  width: 100%;
}

/* Bloc de vignettes d'albums */
.bloc_vignettes {
  width: 77%;
  height: 48%;
  position: absolute;
  top: 362px;
  left: 60px;
  border: solid 1px black;
  padding: 5px 5px;
  background-color: black;
  display: none;
}
.vignettes {
  height: 60px;
  width: 60px;
  display: inline-block;
  margin: 4px 2px;
}
.vignettes img {
  max-width: 100%;
  height: 100%;
}
  
/***** RESPONSIVE DESIGN *****/

/* Small devices (landscape phones, 576px and less) */
@media (max-width: 576px) {

}

/* Medium devices (tablets, 576px and up) */
@media (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}